body {
  font-family: "DotGothic16", sans-serif;
  font-family: "Uchen", serif;
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

a {
  text-decoration: none;
  color: rgb(85, 83, 83);
  font-size: small;
}



.App {
  max-width: 576px;
  margin: 30px auto;


}

.btn-info {
  margin-top: 25px;
  margin-bottom: 25px;
  color: rgb(241, 231, 231);
  box-shadow: 5px 5px 10px #bebaba;
  transition: ease-in-out 200ms;
}

li {
  list-style: none;
}

.current-temp {
  font-size: 25px;
}

.temperature {
  font-size: 25px;
}



h1 {
  font-size: 35px;
  padding-left: 25px;
  padding-top: 30px;
}



footer {
  font-size: 12px;
  max-width: 576px;
  margin: 30px auto;
}